{% load staticfiles %}

<html>

<head>
    <title>Movie Recommendation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/movie.css' %}">
    
</head>

<body>
    <div class="page-header">
        <h1><a href="/">Movie Recommendation</a>
            
                <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="{% url 'post_edit' %}">Gêneros</a>
                            </li>
                        </ul>
                </div>
            
        </h1>
    </div>
    
    {% block content %}
    {% endblock %}
    <hr>
    
    <!-- Footer -->
    <footer>
        <div style="text-align: center;" class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Movie Recommendation - 2018</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>
</body>

</html>