{% extends 'movie/base.html' %}

{% block content %}
    <style>
        .img-center {
            margin: 0 auto;
        }
        

    </style>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Filmes Populares</h2>
        </div>
    
        {% if not movies %}
        <strong>
            <h3 style="text-align: center;">Não foi possível carregar a lista de filmes. Desculpe o transtorno. <i class="fa fa-frown-o"
                    aria-hidden="true"></i></h3>
        </strong>
        {% endif %}
        {% for movie in movies %}
        <div class="col-lg-4 col-sm-6 text-center">
            <a href="{% url 'post_detail' pk=movie.id %}">
                <img class="img-responsive img-center" style="width: 70%; height: 50%; border-radius: 10px;" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
                    alt="{{ movie.title }}">
                <h3>{{ movie.title }}</h3>
            </a>
            <br />
            <br />
        </div>
        {% endfor %}
    </div>
{% endblock %}